.wrapper {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
}

.wrapper-header {
  position: relative;
  height: 44px;
  width: 100%;
  box-shadow: 0px 2px 12px 0px rgba(208, 208, 208, 0.5);
}

.expand {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 999;
}

.logo {
  position: absolute;
  top: 10px;
  left: 50%;
  height: 24px;
  width: 100px;
  transform: translateX(-50px);
}

.mobile-sidebar {
  width: 120px;
  height: 100vh;
  box-shadow: 8px 4px 10px 0px rgba(213, 213, 213, 0.5);
  background-color: #FFFFFF;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.mobile-sidebar-content {
  margin-top: 75px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: 'PingFangSC-Semibold, PingFang SC';
}