.tabWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.firstTitle {
  font-size: 40px ;
  height: 46px;
}

.secondTitle {
  font-size: 18px;
  height: 28px;
  margin-top: 15px;
}

.divider {
  width: 40px;
  height: 4px;
  background-color: #F96F25;
  margin: 26px 0;
}

@media screen and (max-width: 1440px) {
  .firstTitle {
    font-size: 26px;
    height: 30px;
  }

  .secondTitle {
    font-size: 16px;
    height: 16px;
    margin-top: 13px;
  }

    .divider {
      width: 26px;
      height: 3px;
      background-color: #F96F25;
      margin: 26px 0;
    }
}