.wrapper-LTC {
  box-shadow: 0 2px 16px 0 #E1E1E1;
  margin-bottom: var(--header-margin-bottom-pc);
  width: 720px;
}

.wrapper-IBA {
  width: 100%;
  background-color: #EBF2FA;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
}

.wrapper-IBA:hover {
  /* background: linear-gradient(to right, #5aa7f6, #fff,#5aa7f6); */
  /* .swiper-content {
    opacity: 0;
  } */
}

.img-wrapper-LTC {
  width: 100%;
  height: 100%;
  position: relative;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color:#5aa7f6;
  opacity: 0;
  visibility: 0;
}
.enter { 
  opacity: 0.9;
  visibility: 1;
  width: 100%;
  animation: slide-in 1s ease-in-out forwards;
}

.exit {
  opacity: 0; 
  visibility: 0;
  width: 0;
  animation: slide-out 1s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.img-wrapper-IBA {
  width: 1480px;
  height: 420px;
}

.swiper-wrapper-LTC {
  width: 100%;
  height: 350px;
}

.swiper-wrapper-IBA {
  width: 100%;
  height: 420px;
}

.description {
  width: 100%;
  font-size: 16px;
  color: #6E708A;
  background-color: #fff;
  padding: 15px 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.description-IBA {
  height: 80px;
}

.description-LTC {
  height:100px;
}

.swiper-content {
  width: 100%;
  height: 100%;
  opacity: 1;
}

@media screen and (max-width: 1440px) {
  .wrapper-LTC {
    width: 580px;
  }

  .swiper-wrapper-LTC {
    height: 282px;
  }

  .img-wrapper-IBA {
    width: 1200px;
    height: 340px;
  }

  .swiper-wrapper-IBA {
    height: 340px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-LTC,.wrapper-IBA {
    width: 91.5vw;
    margin: 0 auto var(--header-margin-bottom);
    background-color: #f5f5f7;
  }

  .swiper-wrapper-LTC,
  .swiper-wrapper-IBA {
    height: 43.7vw;
  }

  .img-wrapper-IBA {
    width: 100%;
    height: 100%;
  }

  .description {
    font-size: 12px;
    line-height: 20px;
    height: 21.3vw;
  }
}


