.layout-wrapper {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}

.layout-wrapper ::-webkit-scrollbar {
  display: none;
}

.layout-wrapper div {
  scrollbar-width: none;
}

@media screen and (max-width: 1440px) {
  .layout-wrapper {
    min-width: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .layout-wrapper {
    min-width: 100%;
  }
}