.spzn-introduce {
  font-size: 16px;
  background-color: #fff;
  width: 100%;
  padding: 20px 15px;
  line-height: 30px;
  border-bottom: 5px solid #f5f5f7;
  opacity: 0;
}

.background-word {
  color: #fff;
  height: 24px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: var(--active-font-color);
  padding: 4px 6px;
  margin: 4px;
}

.about-us-wrapper {
  padding-bottom: 38px;
}

.founder {
  width: 1480px;
  height: 623px;
}

.history-partner-wrapper {
  width: 100%;
}

.about-shuopan {
  width: 100%;
  background-image: url("../../../public/images/about-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: var(--header-margin-bottom-pc);
  position: relative;
  margin-bottom: 80px;
}

.about-shuopan-content {
  width: 1366px;
  height: 136px;
  box-shadow: 0px 6px 16px 0px rgba(205, 205, 205, 0.5);
  border-radius: 8px;
  background-color: #fff;
  position: absolute;
  bottom: -68px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-shuopan-content-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

.content-item-mobile {
  width: 50%;
  text-align: center;
  margin-bottom: 40px;
}

.content-item-mobile div:first-child {
  font-weight: 600;
  font-size: 30px;
  line-height: 46px;
}
.content-item-mobile div:last-child {
  font-size: 18px;
  line-height: 25px;
  color: #303258;
}

.content-item {
  width: 20%;
  border-right: 1px solid #c2c2c2;
  text-align: center;
}
.about-shuopan-content .content-item:last-child {
  border: none;
}

.content-item div:first-child {
  font-weight: 600;
  font-size: 30px;
}

.content-item div:last-child {
  font-size: 18px;
  line-height: 46px;
  opacity: 0.7;
}

.history {
  width: 100%;
  background-image: url("../../../public/images/support-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: var(--header-margin-bottom-pc);
}

.develop-history-wrapper {
  position: relative;
  width: 1250px;
  margin: 0 auto;
}

.develop-history {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll;
}

.history-content-wrapper {
  position: relative;
}

.history-content {
  width: 250px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 0;
}

.kap-img {
  width: 250px;
  height: 500px;
}

.history-content div {
  height: 50%;
}

.history-content .time {
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
}

.history-content .title {
  font-size: 24px;
}

.arrow-icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-40px);
  background-color: #fff;
  cursor: pointer;
}

.arrow-icon-img {
  width: 60px;
  height: 60px;
}

.partner-wrapper {
  padding-bottom: 50px;
}

.partner-item {
  width: 870px;
  height: 280px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid #d9d9dd;
  margin: 0 auto;
  padding: var(--header-margin-bottom-pc);
}

.partner-img {
  width: 230px;
  height: 36px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 1440px) {
  .founder {
    height: 505px;
    width: 1200px;
  }

  .develop-history-wrapper {
    width: 875px;
  }

  .about-shuopan-content {
    width: 1100px;
    height: 110px;
    bottom: -55px;
  }

  .content-item div:first-child {
    font-size: 24px;
  }

  .content-item div:last-child {
    font-size: 14px;
    line-height: 30px;
  }

  .history-content {
    width: 175px;
    height: 350px;
  }

  .kap-img {
    width: 175px;
    height: 350px;
  }

  .history-content .time {
    font-size: 20px;
    line-height: 28px;
  }

  .history-content .title {
    font-size: 16px;
    line-height: 22px;
  }

  .arrow-icon {
    width: 46px;
    height: 46px;
    border-radius: 23px;
    transform: translateY(-38px);
  }

  .arrow-icon-img {
    width: 46px;
    height: 46px;
  }
}

@media screen and (max-width: 768px) {
  .about-us-wrapper {
    padding: 15px 20px;
    background-color: #fff;
    width: 100%;
  }
  
  .spzn-introduce {
    opacity: 1;
    border-bottom: 0;
  }

  .about-shuopan {
    background-image: url("../../../public/images/mobile/about/about-bg.png");
    height: 444px;
    margin-bottom: 0;
  }

  .founder {
    width: 1480px;
    height: 623px;
  }

  .history {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .partner-wrapper {
    width: 100%;
    background-color: #fff;
    padding: 20px 10px;
  }

  .develop-history-wrapper {
    width: 100%;
  }

  .partner-item {
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
    border: 0;
  }

  .partner-img {
    width: 100%;
    height: 100%;
  }
}
