.header-link {
  height: 54px;
  width: 100%;
  font-size: 18px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
}

.header-link-sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  background-color: #fff;
  top: 0;
}

.link-item {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  position: relative;
}

.link-item div {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 4px solid #fff;
}

.nav-hover:hover {
  color: var(--active-font-color);
}

.link-arrow {
  width: 42px;
  height: 100%;
  box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 7px;
  opacity: 0;
}

.structure-img {
  width: 1460px;
  height: 570px;
  margin: 0 auto;
}

.tab-button {
  width: 100%;
  height: 64px;
  margin: 0 auto;
  text-align: center;
}

.tab-button-item {
  border: 1px solid #d9d9dd;
  height: 100%;
  width: 33.1%;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 64px;
  box-sizing: content-box;
  cursor: pointer;
}

.tab-button-item:hover {
  color: #f96f25;
}

.tab-button-item:first-child {
  border-right: none;
}

.tab-button-item:last-child {
  border-left: none;
}

.item-content {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  position: relative;
}

.link {
  position: absolute;
  bottom: 20px;
  right: 0;
  color: var(--active-font-color);
}



.link-pc {
  width: 120px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border: 1px solid #f96f25;
  display: inline-block;
}

.link-pc:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

.item-content-title {
  height: 90px;
  border-bottom: 1px solid #cccccc;
}

.content-title {
  font-size: 20px;
  font-weight: 500;
  color: #303258;
  margin-bottom: 15px;
}

.item-content-title :last-child {
  font-weight: 400;
  font-size: 16px;
  color: #303258;
}

.item-content-ability {
  padding-top: 32px;
  font-size: 20px;

  .content-ability {
    margin-top: 20px;
    font-size: 16px;
  }
}

.analytics-wrapper {
  width: 100%;
  background-image: url("../../public/images/products-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: var(--header-margin-bottom-pc);
  margin: 0 auto;
  position: relative;
}

.analytics-wrapper-title {
  position: absolute;
  left: 15%;
  top: 40%;
  display: flex;
  flex-direction: column;
}

.analytics-img-wrapper {
  width: 100%;
  height: 420px;
}

.analytics-img {
  width: 1480px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.description {
  height: 82px;
  background-color: #fff;
  text-align: center;
  line-height: 82px;
}

.supply-chian {
  width: 100%;
  background-image: url("../../public/images/professional-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.eimos-platform-section {
  /* background-color: #f5f5f7; */
  background-image: url("../../public/images/intro-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
}

.customer-section {
  width: 100%;
  padding-bottom: 60px;
}

.cusomer-logo {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 800px;
}

.logo-box {
  background-color: white;
  height: 84px;
  width: 259px;
}

.flex-content {
  width: 1460px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link-hover {
  color: var(--active-font-color);
  border-top: 4px solid var(--active-font-color);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
  transition: color .3s ease-in-out;
  position: relative;

}

/* .link-hover::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  background-color: var(--active-font-color);
  width: 100%;
  height: 4px;
  transition:
    width .15s ease-in-out .15s;
} */

@media screen and (max-width: 1480px) {
  .structure-img {
    width: 1000px;
    height: 390px;
  }

  .tab-button {
    height: 43px;
  }

  .link-item {
    font-size: 16px;
    width: 800px;
  }

  .tab-button-item {
    font-size: 16px;
    line-height: 43px;
  }

  .analytics-img-wrapper {
    height: 340px;
  }

  .analytics-img {
    width: 1200px;
    height: 100%;
  }

  .eimos-platform-img {
    width: 1200px;
    height: 800px;
  }

  .flex-content {
    width: 1180px;
  }
}

@media screen and (max-width: 768px) {
  .header-link {
    height: 48px;
    font-size: 14px;
    display: flex;
    background-color: #fff;
  }

  .link-arrow {
    opacity: 1;
    height: 48px;
    background-color: #fff;
  }

  .structure-img {
    width: 1480px;
    height: 578px;
  }

  .link-item {
    flex: 1;
    padding: 0 20px;
  }

  .link-item div {
    line-height: 48px;
    display: inline-block;
    margin-right: 50px;
    white-space: nowrap;
  }

  .link-item-box {
    overflow-x: scroll;
    font-size: 14px;
  }

  .nav-hover:hover {
    color: #000;
  }

  .flex-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .analytics-wrapper {
    margin-bottom: 0;
    padding: 0;
  }

  .ltc-wrapper {
    padding-top: 0;
  }

  .supply-chian {
    padding-top: 0;
    margin: 0 auto;
  }

  .item-content {
    padding: 0;
  }

  .content-ability {
    font-size: 14px !important;
    line-height: 22px;
  }

  .link {
    bottom: 0;
    color: var(--active-font-color);
  }

  .customer-section {
    /* height: 158px; */
    padding: 0 15px 30px;
    background-color: #fff;
  }

  .cusomer-logo {
    width: 100%;
  }

  .logo-box {
    width: 112px;
    height: 36px;
    border: 1px solid #d9d9d9;
  }

  .tab-button-item {
    font-size: 13px;
    box-shadow: none;
    border: 0;
  }

  .link-hover {
    box-shadow: none !important;
    border: 0 !important;
    border-bottom: 3px solid var(--active-font-color) !important;
  }

  .analytics-wrapper-title {
    visibility: hidden;
  }
}
