.app-item {
  margin-bottom: 30px;
}

.ltc-img {
  width: 1310px;
  height: 496px;
  height: 496px;
  margin: 0 auto 60px;
}

.ltc-img-btn {
  color: var(--active-font-color);
  font-weight: 600;
  display: inline-block;
  background-color: #fef0e9;
  height: 45px;
  line-height: 45px;
  text-align: center;
  position: absolute;
  cursor: pointer;
}

.order-btn {
  width: 50%;
  right: 10px;
  top: 40%;
}

.ISMP-btn {
  width: 47%;
  left: 0;
  top: 52%;
}

.ICM-btn {
  width: 21%;
  left: 26%;
  top: 65%;
}

.NPI-btn {
  width: 45%;
  left: 26%;
  top: 78%;
}

/* swiper组件按钮样式 */
.detail-swiper-content :global .swiper-button-prev,
.detail-swiper-content :global .swiper-button-next{
  color: var(--active-font-color);
}
.detail-swiper-content :global .swiper-button-prev {
  left: 0;
}
.detail-swiper-content :global .swiper-button-next{
  right:0;
}
.detail-swiper-content :global .swiper-button-prev::after,
.detail-swiper-content :global .swiper-button-next::after {
  font-size: 18px;
  font-weight: 600;
}

.detail-swiper-content :global .swiper-pagination-bullet-active {
  background-color: var(--active-font-color);
}

.detail-swiper-wrapper {
  width: 810px;
  height: 346px;
  margin: 0 auto;
  animation: scaleUp 1.5s;
}



.content-wrapper {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 0 28px;
}

.content-wrapper div {
  background-color: #f4f5f8;
  margin-right: 20px;
  padding: 7px 14px;
  display: flex;
  flex-direction: row;
}

.content-wrapper div > span {
  padding-left: 5px;
  color: var(--active-font-color);
  font-weight: 600;
  display: inline-block;
  height: 28px;
  line-height: 28px;

}

.note {
  padding-left: 28px;
  color: #939398;
  font-size: 12px;
  padding-top: 20px;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.7);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



.img-detail-wrapper {
  width: 100%;
  height: 346px;
  margin-top: 37px;
  text-align: left;
}

.detail-img {
  width: 500px;
  height: 100%;
}
.detail-wrapper {
  float: right;
  width: 310px;
  height: 346px;
  padding: 15px;
  background-color: #fff;
}

.other {
  color: var(--active-font-color);
  line-height: 20px;
  border-bottom: 1px dashed var(--active-font-color);
  padding-bottom: 5px;
  font-size: 12px;
}

@media screen and (max-width: 1440px) {
  .ltc-img {
    width: 1000px;
    height: 380px;
  }

  .detail-swiper-wrapper {
    width: 720px; 
    height: 290px;
  }

  .img-detail-wrapper {
    height: 290px;
    margin-top: 25px;
  }

  .detail-img {
    width: 420px;
    height: 100%;
  }

  .detail-wrapper {
    width: 300px;
    height: 290px;
  }
}

@media screen and (max-width: 768px) {
  .ltc-img {
    width: 585px;
    height: 226px;
    margin-bottom: 0;
  }

  .content-wrapper {
    margin-left: 0;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content-wrapper div {
    background-color: #fff;
    margin: 0;
    margin-bottom: 10px;
    padding: 7px;
  }

  .content-wrapper-3 {
    width: 32%;
  }

  .content-wrapper-4 {
    width: 49%;
  }

  .content-wrapper-2 {
    width: 49%;
  }

  .note {
    padding-top: 45px;
    padding-left: 0;
  }
}