.form-wrapper {
  width: 100%;
  position: relative;
}

.form-title {
  margin-bottom: 24px;
  font-size: 20px;
}

.form-content-wrapper {
  width: 100%;
  padding: 0 15px;
  overflow-y: scroll;
  margin-top: 20px;
}

.contact-info {
  width: 100%;
  background-color: #f5f5f7;
  margin-bottom: 20px;
  padding: 12px 20px;
  font-size: 12px;
}

.submit-btn-wrapper {
  background-color: #fff;
  height: 70px;
  width: 100%;
  padding: 15px;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -2px 9px 0 rgba(0, 0, 0, .06);
}

.submit-btn {
  height: 40px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  background-color: var(--active-font-color);
  color: #fff;
  border-radius: 20px;
}

