.submit-btn {
  height: 40px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  background-color: var(--active-font-color);
  color: #fff;
  margin-bottom: 20px;
}

.form-wrapper {
  padding: 15px;
}

/* @media screen and (max-width: 1440px) {
  .form-wrapper {
    max-height: 500px;
    overflow-y: scroll;
  }
} */