.common-wrapper {
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
  /* margin-bottom: 35px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

.swiper-content {
  width: 100%;
  height: 100%;
}

.LTC-content-img {
  width: 434px;
  height: 300px;
}

.ISC-content-img {
  width: 520px;
  height: 260px;
}

.LTC-content-des {
  width: calc(100% - 454px);
  flex: none;
}

.ISC-content-des {
  width: 0;
  display: none;
}

.content-des-hidden {
  width: 100%;
}

@keyframes slide-right {
  from {
    right: -20%;
  }

  to {
    right: 0;
  }
}

.IBA-guide-slide-wrapper {
  padding: 80px 220px;
}

.guide-slide-title {
  font-size: 16px;
  margin: 20px 0;
}

.guide-btn {
  position: absolute;
  width: 248px;
  height: 36px;
  background-color: var(--active-font-color);
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
}

.IBA-guide-btn {
  left: 245px;
  bottom: 80px;
}

.LTC-guide-btn {
  left: 65px;
  bottom: 30px;
}

@media screen and (max-width: 1440px) {
  .common-wrapper {
    padding: 0 10px;
  }

  .IBA-guide-slide-wrapper {
    padding: 60px 150px;
  }

  .guide-slide-title {
    margin: 10px 0;
  }

  .IBA-guide-btn {
    left: 175px;
    bottom: 35px;
  }

  .LTC-guide-btn {
    left: 55px;
    bottom: 15px;
  }

  .LTC-content-img {
    width: 362px;
    height: 250px;
  }

  .LTC-content-des {
    width: calc(100% - 377px);
    flex: none;
  }
}
